
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: red;
    
}

.linksHeader{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
  
li{  
    padding: 0.5rem 1rem;
    margin: 0 1rem;

    border-radius: 1rem;

    color: var(--negro);
    background-color: var(--blanco);
    opacity: 0.75;
    font-weight: bold;

    transition: 0.3s ease-in;
}
  
li:hover{
    background-color: var(--primario);
    color: var(--blanco);
}

.logoSection img{
    width: 200px;
    border-radius: 1rem;
    padding: 1rem;

    background-color: rgba(0, 47, 120,0.8);
}

.logos{
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    cursor: pointer;
}